%title-20{
    font-family: $font-george-x;
    font-size: 2rem;

    @include media('<phone') {
        font-size: 4.8rem;
    }
}

%title-30{
    font-family: $font-george-x;
    font-size: 3rem;

    @include media('<phone') {
        font-size: 5.2rem;
    }
}

%title-53 {
    font-family: $font-george-x;
    font-size: 5.3rem;
    line-height: 1;
}

%title-60 {
    font-family: $font-george-x;
    font-size: 6rem;
}

%title-100 {
    font-family: $font-george-x;
    font-size: 10rem;
    line-height: 1;

    @include media('<phone') {
        font-size: 12rem;
    }
}

%title-120 {
    font-family: $font-george-x;
    font-size: 12rem;
    line-height: 0.82;

    @include media('<phone') {
        font-size: 18rem;
    }
}

%title-200 {
    font-family: $font-george-x;
    font-size: 20rem;
}

%vertical-titles {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
  }
  
%vertical-titles__label {
    @extend %desc-12;

    height: 16rem;
    letter-spacing: 0.1rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include media('<phone') {
        font-size: 1.2rem;
    }
}

%vertical-titles__label__text {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 10rem;
}

%vertical-titles__title {
    @extend %title-200;

    position: relative;

    &:nth-child(2) {
        height: 28.6rem;
    }

    &:nth-child(4) {
        height: 45.1rem;
    }

    &:nth-child(6) {
        height: 53.1rem;
    }

    &:nth-child(8) {
        height: 28.8rem;
    }
}

%vertical-titles__title__text {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    white-space: nowrap;
}
