$color-white: #fff;
$color-contessa: #f8d96e;
$color-black: #000;

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

$ease-out-expo: cubic-beizer(0.19, 0.22, 1);

$z-indexes: (
    'navigation',
    'content'
)